/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

html {
  scroll-behavior: smooth;
}

/* ---- Base Rules ---- */

body {
  background: linear-gradient(0deg, rgb(46, 44, 44) 0%, rgb(51, 51, 51) 100%);
  margin: 0;
  font-family: "Merriweather", serif;
  
  color: #fff;
  top: 0;
}

/* Typeography General*/

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

h2{
  font-size: 2em;
}
p{
  font-size: 2em;
}
p span{
  font-size: 1em;
}
@media only screen and (min-width: 35em) {
  h1 {
    font-size: 7em;
    margin: 2em 4rem 1em;
  }
}
h2 {
  border-bottom: 1px solid rgb(197, 197, 193);
  font-family: "Oxygen", Sans-Serif;
  font-size: 3em;
  color: #fff;
}
p {
  line-height: 1.6em;
  color: #eee;
}

/* ---- Layout Rules ---- */

main {
  margin: 10vh 1em 10vh;
}

section {
  position: relative;
  min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/

/*added till*/

nav ul li a:focus {
  outline: none;
  background: rgba(51, 51, 51, 0.467);
  border-radius: 6px;
}
a:hover {
  outline: none;
  background: rgba(51, 51, 51, 0.467);
  border-radius: 6px;
}
nav ul li a:hover {
  background: rgba(63, 63, 63, 0.467);
  color: #fff;
  border-radius: 8px;
  padding: 20px 0px 20px 0px;
}

/****/

/* Footer Styles */

.page__footer {
  background: #000;
  padding: 4em;
  color: #fff;
}
.page__footer p {
  color: #fff;
}

/* ---- Theme Rules ---- */

/* Landing Container Styles */

.landing__container {
  padding: 1em;
  text-align: left;
}
section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}
section img {
  width: 300px;
  height: 200px;
}

@media screen and (min-width: 620px) {
  section:nth-last-of-type(even) img {
    margin-left: 65%;
  }
  section:nth-last-of-type(odd) img {
    margin-left: 5%;
  }
}

/* Background Circles */

/* Note that background circles are created with psuedo elements before and after */

/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .landing__container::before {
  content: "";
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}
section:nth-of-type(even) .landing__container::before {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}
section:nth-of-type(3n) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}
section:nth-of-type(3n + 1) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */

/* Section Active Styles */

/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

section.your-active-class {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(248, 248, 248, 0) 0%,
    rgba(65, 64, 64, 0.42) 100%
  );
}
section.your-active-class .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}
section.your-active-class .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}
.fadingOut {
  animation: fadeOut 3s linear forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(-0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 768px) {
}
.topnav {
  overflow: hidden;
  text-align: center;
}

/* Rules added to perform responsiveness upon different types of screens*/

@media screen and (max-width: 1440px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: -13px 0px 0px 0px;
  }
  .topnav.responsive li a {
    display: block ruby;
    text-align: left;
    text-align: revert;
  }
}
@media screen and (max-width: 768px) and (min-width: 520px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    font-size: 13px;
    padding: 1px;
    margin: 0px 2px 10px 2px;
  }
  .topnav.responsive li a {
    display: block ruby;
    text-align: left;
    font-size: 15px;
    margin: 0px 5px 10px 2px;
  }
  .fa {
    display: block;
    font-size: 15px;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    position: absolute;
    padding: 4px 6px;
  }
}
@media screen and (max-width: 520px) and (min-width: 340px) {
}

/*From Bank System--*/

nav {
  background-color: rgb(27, 26, 26);
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  box-sizing: border-box;
  transition: 0.3s;
  padding: 10px 10px;
  margin: auto;
  animation: rolling 1s linear forwards;
}

/* li{
  text-decoration: none;
  justify-content: space-evenly;
} */

nav ul {
  margin: -51px 0px 0px 0px;
  float: right;
  padding: 0;
  display: flex;

  text-align: right;
  /*added*/
  list-style: none;
}
nav ul li a {
  line-height: 5px;
  color: rgb(219, 216, 216);
  padding: 12px 10px;
  text-decoration: none;
  transition: 0.3s;
  margin: 10px;
  font-size: 18px;
  animation: fadingNavContent 1.5s linear forwards;
}

#logo {
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  color: white;
  margin: 0rem 0rem 0rem 1rem;
  display: block;
  max-width: max-content;
  animation: fadingNavContent 1.5s ease forwards;
}

@keyframes rolling {
  0% {
    height: 0%;
    width: 0%;
    border-radius: 100px;
    transform: translateY(20px);
  }

  50% {
    height: 0%;
    width: 20%;
    border-radius: 100px;
    transform: translateY(50px);
  }

  75% {
    height: 0%;
    width: 75%;
    border-radius: 100px;
    transform: translateY(100px);
  }

  85% {
    height: 0%;
    width: 85%;
    border-radius: 100px;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    width: 100%;
    border-left: 200px;
    border-right: 200px;
    transform: translateY(0px);
  }
}

@keyframes fadingNavContent {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  left: 90%;
  width: 60px;
  height: 34px;
  top: 19%;
  transform: translateY(25px);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#DarkModeLabel {
  position: absolute;
  left: 83%;
  transform: translateY(33px);
  color: rgb(255, 255, 255);
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
