<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="shortcut icon" href="../../public/img/Dolphin.png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Article</title>
</head>

<body>
  <nav class="navbar__menu">
    <!-- Navigation starts as empty UL that will be populated with JS -->
    <a href="/" id="logo">
      MyBlog
    </a>
  </nav>
  <main>
    <div class="container">
      <h1 class="mb-4">New Article</h1>

      <form action="/articles" method="POST">
        <%- include('_form_fields') %>
      </form>
    </div>
  </main>
  <footer class="page__footer" id="page__footer">
    <p>&copy OmarMostafa</p>
  </footer>
</body>

</html>