<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../public/css/show.css">
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Harmattan:wght@700&display=swap"
    rel="stylesheet">
  <title>Blog</title>
</head>


<body>
  <nav class="navbar__menu">
    <!-- Navigation starts as empty UL that will be populated with JS -->
    <a href="/" id="logo">
      MyBlog
    </a>
    <a href="/" id="omar" class="navbar-brand animated flip"></a>
  </nav>
  <main>
    <% if (article.textType=="rtl" ) { %>
      <style>
        .container {
          direction: rtl;
        }
      </style>
      <% } else { %>
        <style>
          .container {
            direction: ltr;
          }
        </style>
        <% } %>

          <!-- <% if (article.id == "6015a0d83f5f4f3f1c01dacc") {%>
            <style>
              .row {
                display: block;
              }
            </style>
            <% } else { %>
              <style>
                .row {
                  display: block;
                }
              </style>
              <% } %> -->
          <div class="container">
            <h1 class="mb-1">
              <%= article.title %>
            </h1>
            <div class="text-muted mb-2">
              <%= article.createdAt.toLocaleDateString() %>
            </div>
            <a href="/" class="btn btn-secondary">All Articles</a>

            <div class="sanitizedHtml">
              <%- article.sanitizedHtml %>
            </div>
            <div class="row">
              <div class="column">
                <div class="description">1- الحل بسيط جدا .. لو انت شغال على فاير فوكس خش على صفحة ال extenstion اول
                  حاجة</div>
                <img id="1" src="../../public/img/extension.jpg" alt="Open the extension panel in Firefox">
                <div class="description">2- بعدين اكتب BrowsecVPN على بانل السيرش</div>
                <img id="2" src="../../public/img/search.jpg" alt="Search for BrowsecVPN">
                <div class="description">3- اطلع فوق يمين وضيف ال add-on</div>
                <img id="3" src="../../public/img/added.jpg" alt="Add the extension from store">
                <div class="description">4- مبروك! .. كده تقدر تتصفح أى معلومات تحب تعرفها دلوقتى ف Medium</div>
                <img id="4" style="margin-bottom: 20px;" src="../../public/img/booom.jpg" alt="HORRAY!">
              </div>
            </div>
          </div>


  </main>
  <footer class="page__footer" id="page__footer">
    <p>&copy OmarMostafa</p>
  </footer>

</body>

<script language="JavaScript" type="text/javascript">
  const div = document.querySelector('.container h1')
  if (div.innerText == "حل مشكلة ميديام") {
    const row = document.querySelector('.row')
    row.setAttribute('style', 'display: block;')
  }
</script>

</html>