<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../public/css/show.css">
  <link rel="shortcut icon" href="../../public/img/Dolphin.png">
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Harmattan:wght@700&display=swap"
    rel="stylesheet">
  <title>
    <%= article.title %>
  </title>
</head>


<body>
  <nav class="navbar__menu">
    <!-- Navigation starts as empty UL that will be populated with JS -->
    <a href="/" id="logo">
      MyBlog
    </a>
    <a href="/" id="omar" class="navbar-brand animated flip"></a>
  </nav>
  <main>
    <% if (article.textType=="rtl" ) { %>
      <style>
        .container {
          direction: rtl;
        }
      </style>
      <% } else { %>
        <style>
          .container {
            direction: ltr;
          }
        </style>
        <% } %>
          <div class="container">
            <h1 class="mb-1">
              <%= article.title %>
            </h1>
            <div class="text-muted mb-2">
              <%= article.createdAt.toLocaleDateString() %>
            </div>
            <a href="/" class="btn btn-secondary">All Articles</a>

            <div class="sanitizedHtml">
              <%- article.sanitizedHtml %>
            </div>
          </div>


  </main>
  <footer class="page__footer" id="page__footer">
    <p>&copy OmarMostafa</p>
  </footer>

  <script src="../../public/js/show.js"></script>
</body>


</html>