<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="shortcut icon" href="../../public/img/Dolphin.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Harmattan:wght@700&family=Tajawal:wght@500&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Harmattan:wght@700&display=swap"
    rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IamOmar</title>
</head>

<body>
  <nav class="navbar__menu">
    <!-- Navigation starts as empty UL that will be populated with JS -->
    <a href="/" id="logo">
      <div class="sign">
        <span class="fast-flicker">Iam</span>Om<span class="flicker">ar Blo</span>g Post
      </div>
    </a>
    <a href="/" id="omar" class="brand animated flip"></a>
    <a class="btn" id="loginButton" href="../user/login">Login, Omar</a>
    <a class="btn" id="logoutButton" href="/">Logout, Omar</a>
  </nav>
  <main>
    <h2 class="welcome" style="font-family: 'Tajawal', sans-serif;">Hello, my name is Omar Mostafa and you are browsing
      my blog</h2>

    <div style="margin-top: 50px;">
      <h4 class="welcome" style="font-family: 'Tajawal', sans-serif; text-align: left; margin-left: 15px;">My
        projects so
        far:</h2>
        <ul style="list-style-type:square">
          <li class="projects">Built a booking reservation system to serve
            football players who looking for playgrounds to
            play in, using PHP</li>

          <li class="projects">Set up, based on DOM manipulation with
            JavaScript, a full-dynamic created site, that
            gets some information and build the complete
            structure depending upon it.</li>

          <li class="projects">Established my personal blog website using
            basically Express and NodeJS</li>

          <li class="projects">Developing an air conditioner system in terms
            of the fuzzy logic and inference algorithm,
            implemented by Python</li>

          <li class="projects">Contributing with Omdena to building predicive
            models for predicting painful behavior for
            elbow using ML</li>

        </ul>
    </div>

  </main>


  <footer class="page__footer" id="page__footer">
    <p>&copy OmarMostafa</p>
  </footer>
</body>

<script src="../../public/js/index.js"></script>

</html>